body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h2 {
  color: #5e5e5e;
}

h3 {
  color: #007bff;
}

.container {
  max-width: 800px;
  margin-top: 50px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
}

#loginSeller,
#cadastroSeller,
#dashboard {
  margin-top: 30px;
}

#productList li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 5px;
}

#productList li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
